In [111]:
import numpy as np
import pandas as pd
import os
import glob

Task 1

In [112]:
# extension = 'csv'

# all_filenames = [i for i in glob.glob('data/*.{}'.format(extension))]
# df = pd.concat([pd.read_csv(f) for f in all_filenames])
# df.set_index('Date', inplace=True)
# df.sort_index(inplace=True)
df1 = pd.read_csv('data/ERCOT_DA_Prices_2016.csv')
df2 = pd.read_csv('data/ERCOT_DA_Prices_2017.csv')
df3 = pd.read_csv('data/ERCOT_DA_Prices_2018.csv')
df4 = pd.read_csv('data/ERCOT_DA_Prices_2019.csv')
df = pd.concat([df1, df2, df3, df4])

In [113]:
df

                       Date SettlementPoint  Price
0       2016-01-01 00:00:00       HB_BUSAVG  18.42
1       2016-01-01 00:00:00      HB_HOUSTON  18.42
2       2016-01-01 00:00:00       HB_HUBAVG  18.42
3       2016-01-01 00:00:00        HB_NORTH  18.43
4       2016-01-01 00:00:00        HB_SOUTH  18.38
...                     ...             ...    ...
129101  2019-12-31 23:00:00         LZ_LCRA  14.53
129102  2019-12-31 23:00:00        LZ_NORTH  14.48
129103  2019-12-31 23:00:00        LZ_RAYBN  14.48
129104  2019-12-31 23:00:00        LZ_SOUTH  14.70
129105  2019-12-31 23:00:00         LZ_WEST  16.78

[497320 rows x 3 columns]

In [116]:
df['month'] = pd.to_datetime(df['Date']).dt.month
df['year'] = pd.to_datetime(df['Date']).dt.year
output = df.groupby(['SettlementPoint','year','month'],as_index=False).mean()

In [117]:
output.to_csv ('AveragePriceByMonth.csv', index = None, header=True)